body {
  background-image: url("./thunder-purple-blur.jpeg");
  background-repeat: no-repeat;
  background-position: center center !important;
  background-color: #b599c1;
  background-size: cover;
  background-attachment: fixed;
  margin: auto !important;
  padding-top: 20px;
}
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 320px) {
    body {
      width: 100%;
    }
    h1 {
      font-size: 5.0rem !important;   
    }
    p {
      font-size: 2.0rem !important;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    body {
      width: 960px;
    }
    h1 {
      font-size: 4.0rem !important;   
    }
    p {
      font-size: 2.0rem !important;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    p {
      font-size: 1.0rem !important;
    }
}
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {}

.jumbotron {
  background-color: hsla(0, 0%, 100%, 0.6) !important;
  padding: 40px !important;
}

.modal {
  height: inherit !important;
}

.jumbotron {
  border-radius: 20px !important;

}

.projectThumbnail {
  margin-right: 20px;
}

.my-3 {
  text-align: center;
}

.my-4 {
  padding-left: 20px;
  padding-right: 20px;
}

/* links */
a:link {
  margin: 3px;
}

a:link, a:visited {
  color: rgb(197, 197, 197);

}
a:hover {
  color: rgb(51, 51, 51) !important;
  opacity: 1;
  text-decoration: none !important;
}
a:active {
  color: gray !important;
  text-decoration: none !important;
} 

#fa-github, #fa-linkedin, #fa-instagram {
  margin-left: 40px;
  margin-right: 40px;
}

#projects {
  width: 100%;
  background-color:rgba(0, 0, 0, 0.336);
  border-radius: 20px;
  padding: 2em;
  margin-bottom: 20px;
}

#headshot {
  height: 30em;
}

